

<h1>CATEGORIAS</h1>
<br>
<a href="/admin/categorias/adicionar"><button class="botao">Nova categoria</button></a>
<hr>
<div class="categorias">
  <h3>Lista de categorias</h3>

<div id="listcategorias">
  <div class="msgsuccess"> {{>_msg}}</div>
  {{#each categorias}}
  <div class="card">
    <div class="card-body">
      <h4>Categoria: <cat>{{nome}}</cat></h4>
      <hr>
      <small>Slug: <slg>{{slug}}</slg></small>
    </div>
  </div>
  <br>
  {{else}}
  {{/each}}
</div>
</div>