<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <!-- Certifique-se de que o caminho para o arquivo CSS está correto -->
    <title>Blog | Blog Whalter</title>
</head>
<body>
<h1>esse e o blog</h1>
            {{{body}}} <!-- O conteúdo da página será inserido aqui -->
     
</body>
</html>